

.container-index-middlecontent p span {
    padding: 1rem 3rem 0 !important;
}

.container-index-middlecontent span {
    display: block;
}

.container-index-middlecontent-statement {
    max-width: 750px;
    color: #333;
}

.container-index-middlecontent {
    padding: 2rem 0 !important;
}