
img.overlay-img {
    width: 100%;
    height: 250px !important;
}

div.image > .overlay > p {
    padding-top: 1rem;
}

div.image > .overlay > p > span {
    text-align: center;
}

#container-infopage-contact .title
{
    text-align: center;
    padding-bottom: 15px;
}

#container-infopage-contact .infopage-contact-subsection
{
    text-align: center;
    margin-top: 20px;
}