@import url('./font/googleapifont.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-color: #eeeeee; */
}

.content-container {
    padding: 30px 10px !important;
}

.container-0 {
    background-color: #ecf9fb !important;
}

.container-1 {
    background-color: #fbfeff !important;
}

.card {
    background-color: transparent !important;
    border: none;
}

.flex-bg-left {
    margin-right: 30px !important;
}

.flex-bg-right {
    margin-left: 30px !important;
}

.max-wid-960 {
    max-width: 960px !important;
}

.max-wid-1000 {
    max-width: 1000px !important;
}

@media (min-width: 768px) {
    body {
        /* padding-top: 87px !important; */
    }
}

@media (max-width: 768px) {
    body {
        /* padding-top: 82px !important; */
    }
    .img-text-container {
        flex-direction: column !important;
        display: flex !important;
    }
}

@media (max-width: 1399px) {
    .container-xxl {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.bg-lightgrey {
    background-color: lightgrey !important;
}

a.content-link {
    font-weight: 500;
    font-size: 0.9rem;
    margin-left: 10px;
}

.text-black {
    color: black !important;
}

.padd-left-none {
    padding-left: 0 !important;
}

.padd-right-none {
    padding-right: 0 !important;
}

h5.content-title {
    font-size: 2.5rem !important;
    padding: 20px 0px;
}

.container-0 h5.content-title {
    color: black; /* #277c89; */
}

.container-1 h5.content-title {
    color: black; /* #3C9DAB; */
}

.red {
    color: red !important;
}

.green {
    color: #198754;
}

.title {
    font-size: 2rem !important;
}

.title2 {
    font-size: 1.75rem !important;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

#container-infopage-contact i {
    font-size: 35px;
}

/* **** Scroll Up - Start */

.go-top {
    position:fixed;
    bottom: 20%;
    right: 0;
    padding: 10px;
    display:none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    z-index: 999;
}

.go-top i {
    font-size: 22px !important;
}

.go-top-text {
    position: absolute;
    text-align: center;
    font-family: 'Questrial';
    line-height: 1.5;
    letter-spacing: 3px;
    font-size: 18px !important;
    margin: 0 0 0 -4px;
}

.go-top:hover {
    transition: all .4s linear;
    transform: scale(1.1);
}

/* **** Scroll Up - End */

.container-title-info {
    color: #18555e !important;
}

.container-info-label {
    font-size: 0.7rem !important;
}

.container-info-label > i.bi {
    font-size: 1rem !important;
}

.container-info-content {
    font-size: 0.9rem !important;
}

#container-index-footer {
    background-color: #3C9DAB;
}

#container-index-footer footer {
    padding: 2rem;
}

#container-index-footer footer ul {
    padding-bottom: 2rem;
}

#container-index-footer , #container-index-footer footer ul li a {
    color: white !important;
}

#container-index-footer footer ul li a {
    text-decoration: underline;
}

.img-text-container img {
    border-radius: 5px;
}